    <h1>Listar Produtos</h1>
    <br>
    <hr>

    <style>
        p {
            margin-left: 15px;
        }
    </style>

    {{#each produtos}}<br>
        <p>Cod.:{{id}}</p>
        <p>Descricao: {{descricao}}</p> 
        <p>Quant: {{quant}}</p>
        <p>Valor:  {{valor}}</p>
        <p>Data criação: {{#formatDate createdAt}} {{/formatDate}}</p>
        <a href="/del-produto/{{id}}"><button>Apagar</button></a>
        <hr>
    {{/each}}

{{!-- aula 14 celke tempo final 9:04 --}}